@import "colors";
@import "forms";
@import "element-ui-rtl";

.main {
  background-image: linear-gradient(45deg, rgb(235, 235, 235) 0%, rgb(255, 255, 255) 100%);
}
table {
  margin: 15px auto;
  width: calc(100% - 30px);
  column-width: 0;
  border-spacing: 0;
}

tr, td {
  text-align: center;
  border: 1px solid $border-color;
}

thead th {
  background-color: $main-color;
}

thead th, tbody td {
  border: 0;
  margin: 0;
  padding: 10px 0;
}

tbody tr:nth-child(even) td {
  background-color: $border-color;
}

a, .link {
  color: $negative-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
	border-bottom: 1px solid #ddd;
  }
}

.small, [small] {
  font-size: 80%;
}

p {
  padding: 5px 0;
}

[centered] {
  display: flex;
  justify-content: center;
}

.ck-editor .ck-editor__editable {
  min-height: 60vh;
}

[large-editor] .ck-editor .ck-editor__editable {
  min-height: 70vh;
}

.el-button.el-button--large {
  font-size: 130%;
}
