@import "colors";
@import "forms";
@import "element-ui-rtl";

.main {
  background-color: #dbf1ea;
}
table {
  margin: 15px auto;
  width: calc(100% - 30px);
  column-width: 0;
  border-spacing: 0;
}

tr, td {
  text-align: center;
  border: 1px solid $border-color;
}

thead th {
  background-color: $main-color;
}

thead th, tbody td {
  border: 0;
  margin: 0;
  padding: 10px 0;
}

tbody tr:nth-child(even) td {
  background-color: $border-color;
}

a, .link {
  color: $negative-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
	border-bottom: 1px solid #ddd;
  }
}

.small {
  font-size: 80%;
}

p {
  padding: 5px 0;
}
