view-builder,
builder-plugins,
builder-plugin-item,
builder-layout,
builder-layout-item {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
}

view-builder {
    display: flex;
    flex-direction: row;
}

builder-layout {
    flex: 1;
}

builder-plugin-item {
    margin: 5px;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: background-color 200ms linear;
}

builder-plugin-item:hover {
    background-color: #eee;
}

builder-plugin-item.dragged {
    display: block;
    background-color: #ccc;
}

builder-layout-item {
    padding: 50px 10px;
    margin: 20px 0;
    position: relative;
}

builder-layout-item .layout-item-actions {
    position: absolute;
    top: 10px;
    font-size: 22px;
}

builder-layout-item .layout-item-actions a {
    text-decoration: none;
    cursor: pointer;
    line-height: 26px;
    transition: font-size 200ms linear;
}

builder-layout-item .layout-item-actions a:hover {
    font-size: 26px;
}

builder-layout-item>[data-actual-item] {
    padding: 10px;
}

builder-layout.drag-enter {
    background-color: #ccc;
}