view-builder {
    --background-trasition: background-color 200ms linear;
}

view-builder,
builder-plugins,
builder-plugin-item,
builder-layout,
builder-layout-item {
    display: block;
    padding: 10px;
}

view-builder {
    display: flex;
    flex-direction: row;
}

builder-plugins {
    border-inline-end: 1px solid #ccc;
}

builder-layout {
    flex: 1;
    transition: var(--background-trasition);
}

builder-plugin-item {
    margin: 5px;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: var(--background-trasition);
}

builder-plugin-item:hover {
    background-color: #eee;
}

builder-plugin-item.dragged {
    background-color: #ccc;
}

builder-layout-item {
    padding: 50px 10px;
    margin: 20px 0;
    position: relative;
    transition: opacity 200ms linear, var(--background-trasition);
    opacity: 0;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
}

builder-layout-item[shown] {
    opacity: 1;
    background-color: #f9f9f9;
}

builder-layout-item .layout-item-actions {
    position: absolute;
    top: 10px;
    font-size: 22px;
}

builder-layout-item .layout-item-actions a {
    text-decoration: none;
    cursor: pointer;
    line-height: 26px;
    transition: font-size 200ms linear;
}

builder-layout-item .layout-item-actions a:hover {
    font-size: 26px;
}

builder-layout-item>[data-actual-item] {
    padding: 10px;
}

builder-layout.drag-enter,
builder-layout-item.drag-enter {
    background-color: #efefef;
}