version: '3'
services:
  redis:
    image: redis:7.0-alpine
  admin:
    image: greenpress/admin-panel:${ADMIN_PANEL_VERSION}
    restart: always
  assets:
    image: greenpress/assets:${ASSETS_SERVICE_VERSION}
    restart: always
    environment:
      MONGO_URI: ${ASSETS_MONGODB_URI}
      REDIS_URL: redis://redis
      SECRETS_SERVICE_URL: secrets
      SECRETS_SERVICE_PORT: 9002
      AUTH_SERVICE_URL: auth
      SECRETS_TOKEN: ${ASSETS_SECRETS_TOKEN}
      INTERNAL_SECRET: ${INTERNAL_SECRET}
      IP: 0.0.0.0
    depends_on:
      - redis
      - secrets
  front:
    image: greenpress/front-ssr:${FRONT_SSR_VERSION}
    restart: always
    links:
      - gateway
    environment:
      IP: 0.0.0.0
      GATEWAY_SERVICE_URL: gateway
  auth:
    image: greenpress/auth:${AUTH_SERVICE_VERSION}
    restart: always
    environment:
      MONGO_URI: ${AUTH_MONGODB_URI}
      IP: 0.0.0.0
      JWT_SECRET: ${JWT_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      APPLICATION_URL: ${APPLICATION_URL}
      INTERNAL_SECRET: ${INTERNAL_SECRET}
      SECRETS_TOKEN: ${AUTH_SERVICE_SECRET}
  gateway:
    image: greenpress/gateway:${GATEWAY_VERSION}
    restart: always
    ports:
      - ${PORT}:3000
    environment:
      IP: 0.0.0.0
      REDIS_URL: redis://redis
      BASIC_TENANT: ${BASIC_TENANT}
      APPLICATION_URL: ${APPLICATION_URL}
      INTERNAL_URL: ${INTERNAL_URL}
      CONTENT_SERVICE_URL: content
      AUTH_SERVICE_URL: auth
      ASSETS_SERVICE_URL: assets
      DRAFTS_SERVICE_URL: drafts
      ADMIN_PANEL_URL: admin
      FRONT_URL: front
  content:
    image: greenpress/content:${CONTENT_SERVICE_VERSION}
    restart: always
    environment:
      MONGO_URI: ${CONTENT_MONGODB_URI}
      REDIS_URL: redis://redis
      IP: 0.0.0.0
      AUTH_SERVICE_URL: auth
    depends_on:
      - redis
      - auth
  secrets:
    image: greenpress/secrets:${SECRETS_SERVICE_VERSION}
    restart: always
    environment:
      MONGO_URI: ${SECRETS_MONGODB_URI}
      IP: 0.0.0.0
      PORT: 9002
      SECRET: ${SECRETS_SERVICE_SECRET}
      INTERNAL_SECRET: ${INTERNAL_SECRET}
  drafts:
    image: greenpress/drafts:${DRAFTS_SERVICE_VERSION}
    restart: always
    environment:
      MONGO_URI: ${DRAFTS_MONGODB_URI}
      IP: 0.0.0.0

networks:
  common_network:
