version: '3'
services:
  mongo:
    image: mongo
    volumes:
      - ${MONGODB_VOLUME}:/data/db
    networks:
      common_network:
  redis:
    image: redis:7.0-alpine
    networks:
      common_network:
  greenpress:
    build:
      context: ../
      dockerfile: Dockerfile.local
    command: ${GP_LOCAL_COMMAND}
    env_file:
      - greenpress.local.env
    volumes:
      - ../dev:/app/dev
      - ../themes:/app/themes
    ports:
      - "3000-3001:3000-3001"
      - "9000-9010:9000-9010"
      - "9029:9029"
    depends_on:
      - mongo
      - redis
    environment:
      MONGODB_URI: mongodb://mongo/greenpress
      REDIS_URL: redis://redis
      BASIC_TENANT: ${TENANT}
      JWT_SECRET: ${JWT_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      SECRETS_SERVICE_SECRET: ${SECRETS_SERVICE_SECRET}
      ASSETS_SECRETS_TOKEN: ${ASSETS_SECRETS_TOKEN}
      INTERNAL_SECRET: ${INTERNAL_SECRET}
      MAX_MEMORY_USAGE: ${MAX_MEMORY_USAGE}
    links:
      - mongo
      - redis
    networks:
      common_network:
networks:
  common_network:
