# Default values for umbrella-chart-2.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
front-ssr:
  replicaCount: 1
  name: front-ssr
  healthCheck:
    enabled: false

  APPLICATION_URL: localhost:3000 # set this to the main dns of the app

  image:
    repository: greenpress/front-ssr
    pullPolicy: IfNotPresent
    tag: "latest"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    create: true
    annotations: {}
    name: ""

  containerPort: 3002

  service:
    type: ClusterIP
    port: 3002
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 80

assets:
  name: assets
  replicaCount: 1
  containerPort: 9003
  image:
    repository: greenpress/assets
    tag: latest
  service:
    port: 9003
    type: ClusterIP

  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false

gateway:
  name: gateway
  replicaCount: 1
  containerPort: 3000
  image:
    repository: greenpress/gateway
    tag: latest
  service:
    port: 80
    type: ClusterIP

  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false

  ingress:
    enabled: true
    className: ""
    annotations: {ingress.kubernetes.io/ssl-redirect: "false"}
    # kubernetes.io/ingress.class: ngin
    # kubernetes.io/tls-acme: "true"
    host: www.gateway.k3d.localhost


auth:
  name: auth
  replicaCount: 1
  containerPort: 9004
  image:
    repository: greenpress/auth
    tag: latest
  service:
    port: 9004
    type: ClusterIP

  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false


content:
  name: content
  replicaCount: 1
  containerPort: 9001
  image:
    repository: greenpress/content
    tag: latest
  service:
    port: 9001
    type: ClusterIP

  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false

admin:
  name: admin
  replicaCount: 1
  containerPort: 3001
  image:
    repository: greenpress/admin-panel
    tag: latest
  service:
    type: ClusterIP
    port: 3001

  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false

auth-startup-job:
  image:
    repository: greenpress/auth
    tag: latest


content-startup-job:
  image:
    repository: greenpress/content
    tag: latest



secrets:
  name: secrets
  replicaCount: 1
  containerPort: 9002
  image:
    repository: greenpress/secrets
    tag: latest
  service:
    port: 9002
    type: ClusterIP
  serviceAccount:
    create: true
    annotations: {}
    name: "secrets"
  healthCheck:
    enabled: false

drafts:
  name: drafts
  replicaCount: 1
  containerPort: 9005
  image:
    repository: greenpress/drafts
    tag: latest
  service:
    port: 9005
    type: ClusterIP
  serviceAccount:
    create: true
    annotations: {}
    name: ""
  healthCheck:
    enabled: false

mongodb:
  auth:
    usernames: [user]
    passwords: [admin]
    databases: [greenpress]
    enabled: true
  architecture: standalone

argo-cd:
  configs:
    argocdServerAdminPassword: "stamSisma"
  server:
